Repository Jaureguy760/Sheriff: changes, and which Codecov flags are due for each by the changed paths.
All: python, rust

.codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 80%
        threshold: 2%
        informational: false
        if_ci_failed: error

    patch:
      default:
        target: 70%
        threshold: 5%
        informational: false
        if_ci_failed: error

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

flags:
  python:
    paths:
      - sheriff/
    carryforward: true

  rust:
    paths:
      - sheriff-rs/
    carryforward: true

  integration:
    joined: false
    carryforward: true

ignore:
  - "tests/"
  - "benchmarks/"
  - "docs/"
  - "setup.py"
  - "**/__pycache__"
  - "**/Sheriff.egg-info"

Complete PyPI publication infrastructure and guides
  PYPI_PUBLICATION_GUIDE.md
  PYPI_READY_README_UPDATES.md
  pyproject.toml
  scripts/publish_to_pypi.sh
Due: none

Add essential CLI improvements for better user experience
  CLI_IMPROVEMENT_PLAN.md
  pyproject.toml
  sheriff/__main__.py
Due: python

Implement Priority 2 CLI upgrades: YAML config, subcommands, structured logging
  ARCHITECTURE_CLI.md
  CLI_UPGRADE_SUMMARY.md
  examples/example-analysis.yaml
  examples/minimal-config.yaml
  examples/sheriff-config.yaml
  pyproject.toml
  sheriff/__main__.py
  sheriff/cli/__init__.py
  sheriff/cli/config_cmd.py
  sheriff/cli/run.py
  sheriff/cli/validate.py
  sheriff/config/__init__.py
  sheriff/config/loader.py
  sheriff/config/schema.py
  sheriff/logging_config.py
Due: python

Implement Priority 3: Checkpoint/Resume, Progress Bars, Result Tables - Sheriff now 10/10!
  PRIORITY3_SUMMARY.md
  examples/demo_priority3.py
  sheriff/checkpoint/__init__.py
  sheriff/checkpoint/format.py
  sheriff/checkpoint/manager.py
  sheriff/cli/run.py
  sheriff/progress.py
  sheriff/results.py
Due: python

Add comprehensive Priority 3 integration tests
  test_priority3_integration.py
Due: none

Add integration planning documents
  INTEGRATION_PLAN.md
  REALISTIC_INTEGRATION.md
Due: none

Add comprehensive deep integration engineering plan
  DEEP_INTEGRATION_PLAN.md
Due: none

Complete Priority 3 deep integration - Sheriff now 10/10
  INTEGRATION_COMPLETE.md
  sheriff/cli/run.py
  sheriff/count_t7.py
  test_integration_smoke.py
Due: python

Add comprehensive Rust acceleration with validation and audit
  ENGINEERING_PLAN.md
  RUST_AUDIT_REPORT.md
  benchmark_comprehensive.py
  sheriff-rs/Cargo.toml
  sheriff-rs/src/bam_filter.rs
  sheriff-rs/src/edit_clustering.rs
  sheriff-rs/src/lib.rs
  sheriff-rs/src/python.rs
  sheriff-rs/src/umi.rs
  sheriff/count_t7.py
  sheriff/helpers.py
  sheriff/rust_accelerated.py
  validate_rust_correctness.py
Due: python, rust

Fix critical alignment bug and optimize edit clustering (O(n³) → O(n²))
  benchmark_final.py
  sheriff-rs/Cargo.toml
  sheriff-rs/src/edit_clustering.rs
Due: rust

Add Claude Cloud dev environment and self-contained test data
  .gitignore
  CLAUDE_AGENT_README.md
  CLAUDE_CLOUD_SETUP.md
  CLOUD_DEV_SETUP.md
  apples_to_apples_benchmark.py
  create_single_chrom_release.sh
  create_test_data_release.sh
  sanity_check_comparison.py
  setup_cloud_dev.sh
  setup_dev_environment.sh
  sheriff-rs/.cargo/config.toml
  sheriff-rs/Cargo.toml
  sheriff-rs/src/edit_clustering.rs
  sheriff/count_t7.py
  sheriff/helpers.py
  sheriff/rust_accelerated.py
  test_data/README.md
  test_data/barcodes.txt
  test_data/barcodes_chr19.txt
  test_data/blacklist.bed
  test_data/blacklist_seqs.txt
  test_data/ci_validation.py
  test_data/create_mini_reference.sh
  test_data/create_single_chrom_test.sh
  test_data/download_reference.sh
  test_data/edit_sites.txt
  test_data/edit_sites_chr19.txt
  test_data/expected_checksums.json
  test_data/generate_checksums.py
  test_data/run_validation.py
  test_data/validate_chr19_test.py
Due: python, rust

Add comprehensive Rust profiling results and optimization roadmap
  PROFILING_RESULTS.md
Due: none

Attempt string caching optimization in edit clustering (results: slower)
  sheriff-rs/src/edit_clustering.rs
Due: rust

Document critical optimization validation failure and lessons learned
  OPTIMIZATION_LESSONS_LEARNED.md
Due: none

Add production-grade CI/CD with real genomic data testing
  .github/workflows/test.yml
  .pre-commit-config.yaml
  test_data/CI_TESTING.md
Due: none

Fix critical bugs in edit clustering baseline algorithm
  sheriff-rs/src/edit_clustering.rs
  validate_rust_correctness.py
Due: rust

Add comprehensive profiling analysis and optimization plan
  OPTIMIZATION_PLAN.md
  PROFILING_ANALYSIS.md
  benchmark_edit_clustering.py
  benchmark_results.txt
  benchmark_worst_case.py
Due: none

Document Python vs Rust implementation comparison
  PYTHON_VS_RUST_COMPARISON.md
Due: none

Add empirical testing and safe optimization strategy
  SAFE_OPTIMIZATION_STRATEGY.md
  analyze_length_differences.py
  debug_clustering_logic.py
Due: none

Implement Phase 1 zero-risk optimizations for edit clustering
  sheriff-rs/src/edit_clustering.rs
Due: rust

Add forward string caching to complete Phase 1 optimizations
  benchmark_precise.py
  sheriff-rs/src/edit_clustering.rs
Due: rust

Add comprehensive Phase 2 optimization analysis
  PHASE_2_DEEP_DIVE.md
Due: none

Implement Phase 2A optimizations: reduce unnecessary computation
  PHASE_1_FINAL_RESULTS.md
  PHASE_2A_RESULTS.md
  benchmark_phase2a.py
  sheriff-rs/src/edit_clustering.rs
  test_homopolymer_optimization.py
  test_phase1.py
Due: rust

Implement Phase 2B: Reuse aligner object across comparisons
  PHASE_2B_RESULTS.md
  PHASE_2B_STRATEGY.md
  benchmark_phase2b.py
  sheriff-rs/src/edit_clustering.rs
Due: rust

Add Phase 2C empirical validation (DECISION: SKIP Phase 2C)
  validate_phase2c_threshold.py
Due: none

Implement k-mer Phase 1 optimizations: 4-14x expected speedup
  benchmark_kmer_phase1.py
  sheriff-rs/Cargo.toml
  sheriff-rs/src/kmer.rs
  sheriff-rs/src/python.rs
  sheriff-rs/src/umi.rs
Due: rust

Add comprehensive Rust optimization implementation plan
  RUST_OPTIMIZATION_PLAN.md
Due: none

Implement Sheriff Phase 1 Rust optimizations using parallel DAG execution
  IMPLEMENTATION_COMPLETE.md
  KMER_PHASE1_IMPLEMENTATION_SUMMARY.md
  PYTHON_BINDINGS_SUMMARY.md
  UMI_PHASE1_IMPLEMENTATION.md
  sheriff-rs/.gitignore
  sheriff-rs/BUILD_PYTHON.md
  sheriff-rs/Cargo.toml
  sheriff-rs/PYTHON_BINDINGS.md
  sheriff-rs/PYTHON_USAGE_EXAMPLES.py
  sheriff-rs/README.md
  sheriff-rs/benches/kmer_benchmarks.rs
  sheriff-rs/benches/umi_benchmarks.rs
  sheriff-rs/build_python.sh
  sheriff-rs/examples/kmer_demo.rs
  sheriff-rs/examples/python_demo.py
  sheriff-rs/examples/umi_demo.rs
  sheriff-rs/src/bam.rs
  sheriff-rs/src/kmer.rs
  sheriff-rs/src/lib.rs
  sheriff-rs/src/python.rs
  sheriff-rs/src/umi.rs
  sheriff-rs/test_python_bindings.py
Due: rust

Add comprehensive parallel DAG execution summary report
  PARALLEL_DAG_EXECUTION_SUMMARY.md
Due: none

Add real benchmark results and fix Python module build
  benchmark_rust_vs_python.py
  sheriff-rs/Cargo.toml
Due: rust
