Repository Jaureguy760/Sheriff: changes, and which Codecov flags are due for each by the changed paths.
All: python, rust

.codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 80%
        threshold: 2%
        informational: false
        if_ci_failed: error

    patch:
      default:
        target: 70%
        threshold: 5%
        informational: false
        if_ci_failed: error

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

flags:
  python:
    paths:
      - sheriff/
    carryforward: true

  rust:
    paths:
      - sheriff-rs/
    carryforward: true

  integration:
    joined: false
    carryforward: true

ignore:
  - "tests/"
  - "benchmarks/"
  - "docs/"
  - "setup.py"
  - "**/__pycache__"
  - "**/Sheriff.egg-info"

Add CORRECTED UMI benchmark - Rust wins by 321-30,446x!
  benchmark_umi_corrected.py
Due: none

Fix match_kmer to return UNIQUE matches (match Brad's implementation)
  sheriff-rs/src/kmer.rs
Due: rust

Add REAL DATA benchmarks - Rust wins 162x k-mer, 7-9x UMI!
  REAL_DATA_BENCHMARK_RESULTS.md
  benchmark_real_data.py
  inspect_bam.py
Due: none

Add comprehensive Criterion benchmarks for all modules
  CRITERION_BENCHMARK_RESULTS.txt
  sheriff-rs/Cargo.toml
  sheriff-rs/benches/bam_benchmarks.rs
  sheriff-rs/benches/kmer_benchmarks.rs
  sheriff-rs/benches/umi_benchmarks.rs
Due: rust

Add comprehensive Criterion benchmark analysis and results
  COMPREHENSIVE_BENCHMARK_RESULTS.md
Due: none

Add CI/CD infrastructure from previous branches
  .codecov.yml
  .coveragerc
  .flake8
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
Due: none

Implement BAM Phase 1: rust-htslib zero-copy processing (1.9x faster)
  benchmark_bam_python_vs_rust.py
  sheriff-rs/Cargo.toml
  sheriff-rs/benches/bam_benchmarks.rs
  sheriff-rs/src/bam.rs
Due: rust

Add parallel per-cell UMI deduplication (93x faster than Python!)
  benchmark_parallel_per_cell.py
  benchmark_parallel_umis_real.py
  sheriff-rs/src/python.rs
  sheriff-rs/src/umi.rs
Due: rust

Add k-mer rolling hash optimization (1.31x faster)
  sheriff-rs/benches/kmer_benchmarks.rs
  sheriff-rs/src/kmer.rs
Due: rust

Add Phase 2 optimization progress summary
  PHASE2_PROGRESS.md
Due: none

Add parallel BAM processing functions and benchmarks
  sheriff-rs/benches/bam_benchmarks.rs
  sheriff-rs/src/bam.rs
Due: rust

Add sheriff_rs.so to .gitignore
  .gitignore
Due: none

Add comprehensive integration testing for Sheriff Rust optimizations
  INTEGRATION_TEST_RESULTS.md
  benchmark_results.json
  end_to_end_benchmark.py
  sheriff/helpers_rust.py
  test_integration.py
Due: python

Add executive summary for integration testing
  INTEGRATION_TEST_SUMMARY.txt
Due: none

Add BK-tree implementation for UMI deduplication (educational)
  BK_TREE_ANALYSIS.md
  analyze_umi_distribution.py
  sheriff-rs/Cargo.toml
  sheriff-rs/benches/umi_benchmarks.rs
  sheriff-rs/src/lib.rs
  sheriff-rs/src/simd.rs
  sheriff-rs/src/umi.rs
Due: rust

Optimize SIMD Hamming distance with length-based dispatch
  SIMD_OPTIMIZATION_REPORT.md
  sheriff-rs/src/simd.rs
Due: rust

Remove SIMD and BK-tree optimizations (not useful for Sheriff)
  BK_TREE_ANALYSIS.md
  SIMD_OPTIMIZATION_REPORT.md
  analyze_umi_distribution.py
  sheriff-rs/src/bam.rs
  sheriff-rs/src/lib.rs
  sheriff-rs/src/simd.rs
  sheriff-rs/src/umi.rs
Due: rust

Add final production-ready optimizations summary
  FINAL_OPTIMIZATIONS_SUMMARY.md
Due: none

Add comprehensive Sheriff pipeline optimization analysis
  PIPELINE_OPTIMIZATION_ANALYSIS.md
Due: none

Optimize allelic calling with O(1) dict lookups instead of O(n) list.index()
  benchmark_index_lookup.py
  sheriff/count_t7.py
  test_index_optimization.py
Due: python

Add comprehensive optimization report for allelic calling improvements
  OPTIMIZATION_REPORT_allelic_calling.md
Due: none

Optimize BAM.fetch() calls in edit site processing with batching
  benchmark_bam_fetch_reduction.py
  sheriff-rs/Cargo.toml
  sheriff-rs/src/gene.rs
  sheriff-rs/src/lib.rs
  sheriff-rs/src/python.rs
  sheriff/count_t7.py
  test_bam_fetch_optimization.py
Due: python, rust

Add comprehensive BAM fetch optimization report
  BAM_FETCH_OPTIMIZATION_REPORT.md
Due: none

Add gene UMI counting Rust optimization with 11.88x speedup
  GENE_UMI_RUST_OPTIMIZATION.md
  sheriff-rs/src/python.rs
  sheriff/helpers.py
  test_gene_umi_rust.py
Due: python, rust

Add comprehensive BAM optimization research and analysis
  BAM_OPTIMIZATION_DEEP_DIVE.md
  BAM_RESEARCH_EXECUTIVE_SUMMARY.md
  README_RESEARCH_DELIVERABLES.md
  RESEARCH_FINDINGS_VISUAL_SUMMARY.txt
Due: none

Add complete BAM optimization implementation plans (Phase 1)
  BAM_OPTIMIZATION_IMPLEMENTATION_PLAN.md
  BAM_OPTIMIZATION_QUICK_START.md
  BAM_OPTIMIZATION_START_HERE.md
  BAM_OPTIMIZATION_VISUAL_REFERENCE.md
  EXECUTIVE_SUMMARY_PHASE1_IMPLEMENTATION.md
  IMPLEMENTATION_PLAN_DELIVERABLES.md
Due: none

Add BAM Phase 1 optimizations: libdeflate + parallel BGZF
  sheriff-rs/Cargo.toml
  sheriff-rs/src/bam.rs
Due: rust

Remove unused HashMap import from umi.rs
  sheriff-rs/src/umi.rs
Due: rust

Add BAM optimization verification script
  verify_bam_optimizations.py
Due: none

Update final documentation with BAM Phase 1 optimizations
  FINAL_OPTIMIZATIONS_SUMMARY.md
Due: none

Enable Python bindings by default for sheriff-rs
  sheriff-rs/Cargo.toml
Due: rust

Document chr19 test data download from fork release
  .gitignore
  test_data/README.md
Due: none

Limit gene counting to contigs with reads
  sheriff/count_t7.py
  sheriff/helpers.py
Due: python

Add Rust toggle flag for k-mer path
  sheriff/count_t7.py
Due: python

Add CLI flag to disable Rust acceleration
  sheriff/cli/run.py
Due: python

Propagate Rust toggle into k-mer path
  sheriff/count_t7.py
Due: python

Add Rust gene counting binding and fallback toggle
  sheriff-rs/src/gene_counts.rs
  sheriff-rs/src/lib.rs
  sheriff-rs/src/python.rs
  sheriff/count_t7.py
Due: python, rust

Use Rust gene counts when available; add SHERIFF_DISABLE_RUST gating
  sheriff/count_t7.py
Due: python

Add engineering plan for Rust gene counting optimization
  RUST_GENE_COUNT_PLAN.md
Due: none

Add perf-suite docs, plotting polish, and CI scaffold
  .github/workflows/rust_first_ci.yml
  .gitignore
  BENCHMARKS.md
  Makefile
  README.md
  benchmarks/PERF_SUITE.md
  benchmarks/plot_perf.py
  scripts/fetch_test_data.sh
Due: none
